{% extends listboard_base_template %}

{% load edc_dashboard_extras %}

{% load tz %}
{% load static %}
{% load edc_base_extras %}

{% block content %}
<!-- start listboard main block-->
<div class='container-fluid'>
    <div id="accordion" class="card mb-4">
        <div class="card-header">
            {% block count_data %}
            <a class="btn btn-outline-secondary me-4" data-bs-toggle="collapse" href="#collapseOne">
                {% block card_title %}{% endblock card_title %}
                <span class="badge bg-gradient-secondary">{{ results|length  }}</span>
            </a>
            {% endblock count_data %}
            {% block add_listboard_button %}
                <a href="{{ button_add_url }}?next={{ listboard_url }}" class="btn bg-gradient-secondary btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="New Individual Client File" data-container="body" data-animation="true">
                    <i class="fa fa-plus cursor-pointer"></i>
                </a>
            {% endblock add_listboard_button %}
        </div>
        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
                {% block listboard %}
                    <div class="table-responsive table-stripped">
                        <table class="table table-hover" id="myTable" style="width: 100%;">
                            {% block listboard_table_header %}
                                {% include 'edc_dashboard/listboard/results_header.html' %}
                            {% endblock listboard_table_header %}
                            <tbody>
                                {% block listboard_table_body %}
                                    {% for result in results %}
                                        <tr> 
                                            <td>
                                                <div class="d-flex px-3">
                                                    <span class="text-secondary text-xs">{{ forloop.counter }}</span>
                                                </div>
                                            </td>
                                            {% block listboard_table_columns %}
                                                {% include 'edc_dashboard/listboard/columns.html' %}
                                            {% endblock listboard_table_columns %}
                                            {% block listboard_table_button_column %}
                                            <td class="align-middle text-center">
                                                <a href="{% url dashboard_url result.file_number %}" class="me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Open file" data-container="body" data-animation="true">
                                                    <i class="fa fa-folder-open text-info cursor-pointer"></i>
                                                </a>
                                                {% include 'edc_dashboard/listboard/buttons_column.html' %}
                                            </td>
                                            {% endblock listboard_table_button_column %}
                                        </tr>                       
                                    {% endfor %}
                                {% endblock listboard_table_body %}
                            </tbody>
                        </table>
                            <!-- begin spacer rows -->
                        {% block pagination %}
                            {% paginator_row %}
                        {% endblock pagination %}
                    </div>
                {% endblock listboard %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}  
{% block javascripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.js"></script>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            paging: false,
            stateSave: true,
            dom: 'Bfrtip',
            buttons: [
                'excel',
                'pdf',
                'print'
            ],
            responsive: true,
            initComplete: function () {
              this.api()
                .columns()
                .every(function () {
                    let column = this;

                    // Create select element
                    let select = document.createElement('select');
                    select.add(new Option(''));
                    column.footer().replaceChildren(select);
                    console.log(column);

                    // // Apply listener for user change in value
                    // select.addEventListener('change', function () {
                    //     var val = DataTable.util.escapeRegex(select.value);
                    //
                    //     column
                    //         .search(val ? '^' + val + '$' : '', true, false)
                    //         .draw();
                    // });
                    //
                    // // Add list of options
                    // column
                    //     .data()
                    //     .unique()
                    //     .sort()
                    //     .each(function (d, j) {
                    //         select.add(new Option(d));
                    //     });
                });
            }
        });
    });
</script>
{% endblock javascripts %}

