{% if show %}
<nav aria-label="pagination">
	<ul class="pagination pagination-secondary justify-content-end">
		{% if first_url %}
			<li class="page-item">
				<a class="page-link" href="{{ first_url }}">
					<i class="fa fa-angle-double-left fa-fw"></i>
				</a>
			</li>
		{% endif %}
		{% if previous_url %}
			<li class="page-item">
				<a class="page-link" href="{{ previous_url }}" tabindex="-1">
					<i class="fa fa-angle-left"></i>
					<span class="sr-only">Previous</span>
				</a>
			</li>
		{% endif %}
		{% for number in numbers %}
			<li class="page-item  {{ number.active }}">
				<a class="page-link {% if number.active %} text-white {% endif %}" href="{{ number.url }}">{{ number.number }}</a>
			</li>
		{% endfor %}
		{% if next_url %}
			<li class="page-item">
				<a class="page-link" href="{{ next_url }}">
					<i class="fa fa-angle-right"></i>
					<span class="sr-only">Next</span>
				</a>
			</li>
		{% endif %}
		{% if last_url %}
			<li class="page-item">
				<a class="page-link" href="{{ last_url }}">
					<i class="fa fa-angle-double-right fa-fw"></i>
				</a>
			</li>
		{% endif %}
		</ul>
</nav>
{% endif %}
<!--  end paginator -->
