<td class="align-middle">
    <a href="{% url listboard_url result.file_number %}" class="btn btn-sm btn-outline-info me-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Open file" data-container="body" data-animation="true">
        <i class="fa fa-folder-open fa-2x cursor-pointer"></i>
    </a>
    <a href="{{ result.href }}" class="btn btn-sm btn-outline-secondary me-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit file" data-container="body" data-animation="true">
        <i class="fa fa-pencil fa-2x cursor-pointer"></i>
    </a>
    <a href="{{ result.href }}&edc_readonly=1" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="View file" data-container="body" data-animation="true">
        <i class="fa fa-eye fa-2x cursor-pointer"></i>
    </a>
</td>


